.work-wrap {
  background: #F68989;
    float: right;
    width: 53%;
    height: 115%;
    margin-top: -3%;
  }
  .igual-relacion {
    width: 400px;
    height: 205px;
    border-radius: 10%;
  }
  .relacion {
    width: 400px;
    height: 205px;
    border-radius: 10%;
  }
  
  